<div class="card questionnaire">
    <div class="card-header">
        <h5 class="card-title">{{this.title}}</h5>
    </div>
    <div class="card-footer">
        {{#if (and @root.isTeacher (eq @root.path "/questionnaires"))}}
        <a class="btn btn-primary" href="/questionnaires/edit/{{this.id}}">Edit questionnaire</a>
        <a class="btn btn-primary" href="/questionnaires/{{this.id}}">View questions</a>
        {{else}}
        <a class="btn btn-primary" href="/game/{{this.id}}">Start game</a>
        {{/if}}
    </div>
</div>
