<div class="card">
    <div class="card-header" hidden>
        <input type="text" name="questions[{{index}}][title]" class="form-control"
            id="questions[{{index}}][title]">
        <div class="form-group row">
            <label for="submissions" class="col-sm-3 col-form-label">Max points</label>
            <input type="number" min="1" name="questions[{{index}}][maxPoints]"
                class="col-sm-8 form-control" id="questions[{{index}}][maxPoints]">
        </div>
    </div>
    <div class="card-body" hidden>
        <ul class="option">
            {{#each question.options as |option index|}}
            <li>
                <input type="checkbox" name="questions[{{../index}}][options][{{index}}][correctness]"
                    id="questions[{{../index}}][options][{{index}}][correctness]" value="true">
                <input type="text" name="questions[{{../index}}][options][{{index}}][option]"
                    class="option-text" id="questions[{{../index}}][options][{{index}}][option]">
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-danger" id="hide_new_question" hidden="true">Remove question</button>
        <button type="button" class="btn btn-primary" id="show_new_question">Add question</button>
    </div>
</div>
