<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/edit_questionnaire.js"></script>
<div class="container">
    {{#if questionnaire.title}}
    <h2>Edit questionnaire</h2>
    {{else}}
    <h2>Add a new questionnaire</h2>
    {{/if}}
    {{>messages}}
    <form method="POST" id="questionnaire_form">

        <div class="card-deck mt-3">
        {{>questionnaire_edit questionnaire}}
        </div>

        <div id="questions_div">
            {{inc 'i' 'clear'}}
            {{#withGroup questionnaire.questions 2}}
            <div class="card-deck mt-3">
                {{#each this as |question index|}}
                    {{!New question box is forced visible if it is the only one}}
                    {{#if (or question.title (eq (inc 'i' 0) -1))}}
                        {{>question_edit
                            id_questionnaire=../../questionnaire.id
                            new_questionnaire=(not ../../questionnaire.title)
                            question=question
                            index=(inc 'i' 1)}}
                    {{else}}
                        {{>question_add
                            question=question
                            index=(inc 'i' 1)}}
                    {{/if}}
                {{/each}}
            </div>
            {{/withGroup}}
        </div>

        <div class="card-deck mt-3">
            <div class="card">
                <div class="card-header">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button id = "btnSave" type="submit" class="btn btn-primary">Save</button>
                    {{#if questionnaire.title}}
                    <a class="btn btn-danger" href="/questionnaires/delete/{{questionnaire.id}}">Remove questionnaire</a>
                    {{/if}}
                </div>
            </div>
        </div>

    </form>
</div>
